<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}PC Building Store{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'store/style.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'product_list' %}" class="logo">CleanByte</a>
        </div>
            <nav>
                <a href="/">Home</a>
                <a href="#">Cart</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>